

/* BT1 */
.color1{
    color: red;
}




/* BT2 */
.color2{
    color: #00FF00;
}



/* BT3 */
h2 ,p {
    font-size: 24px;
}



/* BT5 */
#div2{
    color: blue;
  }
  /* BT6 */
  a[target="_blank"] {
    color: yellowgreen;
  }



/* BT7 */
  ul {
      font-weight : bold;
  }



/* BT9 */
  .item > span {
      font-size: 18px;
  }
  .item > div > span
  {
        font-style: italic;
    }